.idea
.vscode
.direnv

/result
/target
/radar/node_modules

config.toml

# kernel module build artifacts
/kmod/*.ko
/kmod/*.mod
/kmod/*.mod.c
/kmod/*.o
/kmod/Module.symvers
/kmod/modules.order
/kmod/Module.markers
/kmod/.*.cmd
